/*------------------------------------------------------------------
[Table of contents]

 - preloader



- Project:    Stephano Apiolaza - HTML Template
- Version:    1.0
- Author:     Stephano Apiolaza
- Profile:    http://stephanoapiolaza.me

-------------------------------------------------------------------*/

@import './color';

/* Loader */
#page-preloader {
  background: $empty-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100500;
}

#page-preloader .spinner {
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-radius: 50% !important;
  border-top-color: $border-color-spinner;
  display: block;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: 1001;
}

#page-preloader .spinner:before, #page-preloader .spinner:after {
  border-radius: 50%;
  content: '';
  position: absolute;
}

#page-preloader .spinner:before {
  animation: spin 2s infinite linear;
  border: 3px solid transparent;
  //border-top-color: #fb8f13;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
}

#page-preloader .spinner:after {
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: $border-top-color-spinner;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loader */
